!!! 5
html(lang='en')
  head
    title gangplay - controller
    link(rel='stylesheet', href='stylesheets/controller.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(type='text/javascript', src='requirejs/require.js', data-main='scripts/controller')
    meta(name='viewport', content='width=device-width')
  body
    #menu
      p.info-line Loading
      .ship-list
    #controller
      .color-indicator
      .key-group.left-key-group
        .key.left-key(action='left')
        .key.right-key(action='right')
      .key-group.right-key-group
        .key.fire-key(action='fire')
        .key.up-key(action='up')
        .key.down-key(action='down')
