key-color = #08f
fire-key-color = #f44

#menu
  text-align center
  color key-color
  a.ship
    color inherit
    text-align center
    text-decoration none
    width 100px
    display: inline-block
    margin 4px 2px
    padding 8px
    border 3px solid key-color
    border-radius 10px
    &:hover
      background-color #444

body
  font-family sans-serif
  background black

#controller
  display: none

.key
  border-radius 30px
  position absolute
  background black
  background-position center
  background-repeat no-repeat
  background-size 50%
  box-sizing border-box
  -moz-box-sizing border-box
  border-width 3px
  border-style solid
  box-shadow 0 0 10px

.key.active
  background-color #444

.key-group
  position fixed

.left-key-group
  position fixed
  bottom 10px
  left 10px
  height 50%
  width 40%
  max-height 160px
  max-width 240px

.right-key-group
  position fixed
  bottom 10px
  right 10px
  height 85%
  width 30%
  max-height 240px
  max-width 240px

.up-key, .down-key, .left-key, .right-key, .left-key, .right-key
  color key-color
  border-color key-color

.left-key, .right-key
  height 100%
  width 45%

.left-key
  left 0
  background-image url('/left.png')

.right-key
  right 0
  background-image url('/right.png')

.fire-key
  bottom 0
  left 0
  right 0
  height 55%
  color fire-key-color
  border-color fire-key-color
  background-image url('/fire.png')

.up-key
  right 0
  top 0
  width 45%
  height 35%
  background-image url('/up.png')

.down-key
  left 0
  top 0
  width 45%
  height 35%
  background-image url('/down.png')

.color-indicator
  margin-left auto
  margin-right auto
  width 30px
  height 30px
  border-radius 50%
