key-color = #08f
fire-key-color = #f44

#controller
  display: none

#ship-select
  text-align center
  color key-color
  font-family sans-serif
  a
    color inherit
    text-align center
    text-decoration none
    width 100px
    display: inline-block
    margin 4px 2px
    padding 8px
    border 3px solid key-color
    border-radius 10px
    &:hover
      background-color #444

body
  background black

.info
  position fixed
  top 0
  left 0
  right 0
  height 10%

  font-family sans-serif
  text-align center
  color key-color
  text-shadow 0 0 10px key-color

.key
  font-family sans-serif
  text-align center
  border-radius 30px
  font-size 36px
  position absolute
  background black
  background-position center
  background-repeat no-repeat
  background-size 50%
  box-sizing border-box
  -moz-box-sizing border-box

.key.active
  background-color #444

.direction-keys
  position fixed
  bottom 10px
  left 10px
  height 50%
  width 40%
  max-height 160px
  max-width 240px

.left-key, .right-key
  height 100%
  width 45%
  border 3px solid key-color

.left-key
  left 0
  background-image url('/left.png')

.right-key
  right 0
  background-image url('/right.png')

.fire-and-speed-keys
  position fixed
  bottom 10px
  right 10px
  height 85%
  width 30%
  max-height 240px
  max-width 240px

.up-key, .down-key, .left-key, .right-key
  border 3px solid key-color
  color key-color
  text-shadow 0 0 10px key-color
  box-shadow 0 0 10px key-color

.fire-key
  bottom 0
  left 0
  right 0
  height 55%
  border 3px solid fire-key-color
  color fire-key-color
  text-shadow 0 0 10px fire-key-color
  box-shadow 0 0 10px fire-key-color
  background-image url('/fire.png')

.up-key
  right 0
  top 0
  width 45%
  height 35%
  background-image url('/up.png')

.down-key
  left 0
  top 0
  width 45%
  height 35%
  background-image url('/down.png')

.color-indicator
  margin-left auto
  margin-right auto
  width 30px
  height 30px
  border-radius 50%
