key-color = #08f
fire-key-color = #f44

body
  background black

.info
  position fixed
  top 0
  left 0
  right 0
  height 10%

  font-family sans-serif
  /*font-size 32px*/
  text-align center
  color key-color
  text-shadow 0 0 10px key-color

.key
  font-family sans-serif
  text-align center
  border-radius 30px
  font-size 36px
  position absolute
  background black

.key.active
  background #444

.direction-keys
  position fixed
  bottom 10px
  left 10px
  height 50%
  width 40%
  max-height 160px
  max-width 240px

.left-key, .right-key
  height 100%
  width 45%
  border 3px solid key-color

.left-key
  left 0

.right-key
  right 0

.fire-and-speed-keys
  position fixed
  bottom 10px
  right 10px
  height 85%
  width 30%
  max-height 240px
  max-width 240px

.up-key, .down-key, .left-key, .right-key
  border 3px solid key-color
  color key-color
  text-shadow 0 0 10px key-color
  box-shadow 0 0 10px key-color

.fire-key
  bottom 0
  left 0
  right 0
  height 55%
  border 3px solid fire-key-color
  color fire-key-color
  text-shadow 0 0 10px fire-key-color
  box-shadow 0 0 10px fire-key-color

.up-key
  right 0
  top 0
  width 45%
  height 35%

.down-key
  left 0
  top 0
  width 45%
  height 35%
