select-color = #09b

body
  background-color black

.menu
  margin-top 10%
  text-align center

a.menu-link
  padding 10px 0
  color gray
  display inline-block
  margin-right 20px
  width 200px
  text-align center
  text-decoration none
  font-family sans-serif
  font-size 32px
  border 3px solid gray
  border-radius 10px

  &:hover
    color select-color
    border-color select-color
    text-shadow 0 0 10px select-color
