!!! 5
html(lang='en')
  head
    title gangplay - controller
    link(rel='stylesheet', href='stylesheets/controller.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(type='text/javascript', src='requirejs/require.js', data-main='scripts/controller')
    meta(name='viewport', content='width=device-width')
  body
    .info Connecting...
    .direction-keys
      .key.left-key(action='left')
      .key.right-key(action='right')
    .fire-and-speed-keys
      .key.fire-key(action='fire')
      .key.up-key(action='up')
      .key.down-key(action='down')
