!!! 5
html(lang='en')
  head
    title gangplay - controller
    link(rel='stylesheet', href='stylesheets/controller.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(src='scripts/requirejs.js', data-main='scripts/controller')
    meta(name='viewport', content='width=device-width')
  body
    .info Connecting...
    .key.left-key(action='left') left
    .key.right-key(action='right') right
    .key.fire-key(action='fire') fire
    .key.up-key(action='up') up
    .key.down-key(action='down') down
