!!! 5
html(lang='en')
  head
    title gangplay
    link(rel='stylesheet', href='stylesheets/menu.css')
  body
    .menu
      a.menu-link(href='/screen.html') Screen
      a.menu-link(href='/controller.html') Controller
