!!! 5
html(lang='en')
  head
    title Canvas experiment
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    a.menu-link(href='/screen.html') Screen
    a.menu-link(href='/controller.html') Controller
