!!! 5
html(lang='en')
  head
    title gangplay - screen
    link(rel='stylesheet', href='stylesheets/screen.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(type='text/javascript', src='scripts/jcanvas.min.js')
    script(src='scripts/requirejs.js', data-main='scripts/screen')
  body
    canvas#canvas(width='1200px', height='800px')
